.escolaboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}


.dialogo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    width: 99.2%;
    height: 20%;
    background-color: gray;
    position: relative;
    color:black;
}


.fundo{
    visibility:visible;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}
.fundo img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.armariovazio1{
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.armariovazio{
    visibility: visible;
    width: 50px;
    height: 145px;
    position: absolute;
    cursor: pointer;
    margin-top: -85px;
}

.cabo img{
    position: absolute;
    width: 90px;
    height: 100px;
}
.cabo{
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    margin-left: 600px;
    margin-top: 300px;
}


.armariotrancado{
    cursor: pointer;
    position:absolute;
    width: 50px;
    height: 145px;
    margin-top: -85px;
    margin-left: -470px;
}

.armario{
    visibility: visible;
    width: 50px;
    height: 145px;
    position: absolute;
    cursor: pointer;
    margin-top: -85px;
    margin-left: -225px;
}

.armario1{
     visibility: hidden;
     position: absolute;
    width: 100%;
    height: 100%;
}
.nucleo img{
    position: absolute;
    width: 100px;
    height: 150px;
}

.nucleo{
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    margin-top: 200px;
    margin-left: 630px;
}

.porta{
    width: 150px;
    height: 150px;
    position: absolute;
    margin-bottom: 90px;
    margin-left: -680px;
}


.armario2{
    visibility: visible;
    width: 50px;
    height: 145px;
    position: absolute;
    cursor: pointer;
    margin-top: -85px;
    margin-left: 240px;
}

.armario3{
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.chave{
     visibility: hidden;
     cursor: pointer;
     position: absolute;
     margin-top: 90px;
     margin-left: 510px;
}

.chave img{
    position: absolute;
    width: 30px;
    height: 20px;
}

.rick{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -200px;
    margin-top: 100px;
}

.rick img{
    position: absolute;
    width: 150px;
    height: 150px;
}