* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board1{
    display: flex;
    align-items: center;
    justify-content: center;
	width: 1100px;
	height: 500px;
	border: 1px solid #333;
	margin: 0 auto;
}

.fundo1{
    position: relative;
    background-image:url(/images/corredor_escola.png) ;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.armario{
    cursor: pointer;
    position: absolute;
    margin-left: 330px;
    margin-top: 250px;
    background-color: transparent;
    width: 50px;
    height: 180px;
}

.arma{
    cursor: pointer;
    position: absolute;
    margin-left: 576px;
    margin-top: 250px;
    background-color: transparent;
    width: 50px;
    height: 180px;
    
}

.maquina{
    visibility: hidden;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 400px;
    bottom: 100px;
}

.display{
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 500px;
}

.pegar{
    cursor: pointer;
    position: absolute;
    background-color: yellow;
    width: 50px;
    height: 50px;
    visibility: hidden;
}



.portal{
    bottom: 0;
    right: 10px;
    margin-top: 100px;
    cursor: pointer;
    position: absolute;
    background-image: url(/images/portal.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150px;
    height: 230px;
    visibility:hidden;
}

.porta{
    cursor: pointer;
    margin-top: 250px;
    margin-left: 213px;
    width: 106px;
    height: 180px;
}

.rick{
    background-image: url(/images/rick_20.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    width: 170px;
    height: 280px;
    margin-top: 320px;
    margin-left: 0;
    animation: rickanimation 3s linear;
}

@keyframes rickanimation{
    from{
        left: 0;
    }
    to{
        left: 213px;
    }
}